.button {
  background: #0079f2;
  color: #fff;
  padding: 16px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'shamel-book';
  white-space: nowrap;

  &:hover {
    color: #fff;
  }
}
