.avatar {
  .ImgContainer {
    position: relative;
    .img {
      width: 3rem;
    }
    i {
      position: absolute;
      left: -1px;
      bottom: -2px;
    }
  }
  .text {
    margin-right: 10px;
    margin-left: 26px;

    .name {
      margin-bottom: 9px;
    }

    .title {
      margin-bottom: 0;
      font-size: 11px;
    }
  }
}

// media queries

@media (max-width: 1919px) {
  .avatar {
    margin-left: 1.5rem;
  }
}
@media (max-width: 970px) {
  .text {
    margin-right: 10px !important;
    margin-left: 20px !important;
  }
}
@media (max-width: 580px) {
  .ImgContainer {
    display: none;
  }
}
