.searchBar {
  position: relative;
  margin-left: 160px;
  .inputTag {
    width: 500px;
    background-color: #f5f5f5;
    border: none;
    max-width: 514px;
    padding: 22px;
    padding-right: 68px;
    // padding-left: 282px;
    font-size: 19px;
    font-family: 'shamel-book';
    border-radius: 5px;

    &::placeholder {
      color: #b7b7ba;
    }
  }

  .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
}
