// Colors
$main: #0079f2;
$sub-main: #00cafd;
$secondary: #171e48;
$secondary2: #40d8d8;
$error: #c70833;
$success: #00af99;
$main-font: #333333;
$sub-main-font: #7f8384;
$secondary-font: #b7b7ba;
$icon: #a2a2a2;
$input-form: #f3f3f3;
$deactivated: #e8e8e8;
$bg-color: #fbfbfb;
