.fw-md {
  font-size: 1.07rem;
}
.fw-sm {
  font-size: 1.01rem;
}

.active {
  background-color: #0079f2;
  span {
    color: white;
  }

  svg {
    fill: #171e48;
  }
}

.header-expand {
  padding-right: 31px + 354px;
}

.nav-hide {
  right: -100vw !important;
}

.button-active {
  color: #0079f2;
  background-color: rgba(0, 121, 242, 0.15) !important;
  border-color: rgba(0, 121, 242, 0.15) !important;
}

.icon-active {
  background-color: #0079f2 !important;
}

// card style

.card {
  border-radius: 18px;
  border: none;

  &-body {
    padding: 30px 28px !important ;
  }

  &-title {
    font-size: 21px;
  }

  &-profession {
    color: #7f8384;
    font-size: 18px;
  }

  &-experience_duration {
    font-size: 18px;
    color: #0079f2;
  }

  &-text {
    font-size: 12px;
    line-height: 24px;
    color: #7f8384;
  }
}

// table

.table {
  border-radius: 18px;
  & > :not(:first-child) {
    border-top: none;
  }
  th,
  td {
    font-size: 16px;
  }
  thead {
    tr {
      th {
        &:first-child {
          padding-right: 30px;
        }

        padding: 30px 0 30px 0;
      }
    }
  }
  tbody {
    tr {
      th,
      td {
        &:first-child {
          padding-right: 30px;
        }

        padding: 30px 0 30px 0;
      }
    }
  }

  & > tbody {
    tr {
      &:nth-of-type(2n) {
        background-color: #f3f3f3;
      }
      th,
      td {
        border-bottom: none !important;
        line-height: 50px;
      }
    }
    // border-top: 1px solid unset !important;
  }
}
